<style>
  .error {
    color: red;
  }
</style>

<script src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js"></script>

<script>
  var api = {
    'announce': '{% url node-announce %}',
  },
  client_id = Math.round(Math.random() * 1000000000);
  
  function logger(message, error) {
	  if (error) {
	    $("#logger").append("<li class='error'>" + Date.now() + ": " + message + "</li>");
	  } else {
	    $("#logger").append("<li>" + Date.now() + ": " + message + "</li>");
	  }
	}
  	
	function announce() {
	  $.ajax({
  	  'url': api.announce,
  	  'data': {'client_id': client_id},
  	  success: function(data) {
  	    logger("Announced to the server. Active nodes: " + data);
  	  },
  	  error: function() {
  	    logger("Could not announce to the server.", "error");
  	  }
  	});
	}
	
	$(function() {
	  logger("Initializing node. Client ID: " + client_id);
  	announce();

  	setInterval("announce()", 10000);
	});
	
</script>

<ul id="logger"></ul>