<style>
  .error {
    color: red;
  }
</style>

<script src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js"></script>

<script>
  var node = {
    server_api: {
      announce: '{% url node-announce %}',
      get_work: '{% url node-getwork %}',
      emit: '{% url node-emit %}'
    },
    client_id: Math.round(Math.random() * 1000000000)
  };
  
  function logger(message, error) {
	  if (error) {
	    $("#logger").append("<li class='error'>" + Date.now() + ": " + message + "</li>");
	  } else {
	    $("#logger").append("<li>" + Date.now() + ": " + message + "</li>");
	  }
	}
  	
	function announce() {
	  $.ajax({
  	  url: node.server_api.announce,
  	  data: {client_id: node.client_id},
  	  success: function(data) {
  	    logger("Announced to the server. Active nodes: " + data);
  	  },
  	  error: function() {
  	    logger("Could not announce to the server.", "error");
  	  }
  	});
	}
	
	function do_work(url) {
	  $.ajax({
	    url: url,
	    data: {client_id: node.client_id},
	    success: function(code) {
        // just for now, bad bad bad
	      eval(code);
	    }
	  })
	}
	
	function get_work() {
	  $.ajax({
  	  url: node.server_api.get_work,
  	  success: function(data) {
  	    data.map && do_work(data.map);
	      data.reduce && do_work(data.reduce);
  	  },
  	  error: function() {
  	    logger('Error obtaining work.');
  	  }
  	});
	}
	
	function emit(o) {
	  $.ajax({
	    url: node.server_api.emit,
	    data: {phase: o.phase, results: o.results},
	    success: function(data) {
	      
	    },
	    error: function(data) {
	      
	    }
	  })
	}
	
	$(function() {
	  logger("Initializing node. Client ID: " + node.client_id);
  	announce();

  	setInterval("announce()", 10000);
  	
	});
	
</script>

<ul id="logger"></ul>